$primary-color: #3498db;
$secondary-color: #2ecc71;
$dark-color: #404040;
$light-color: #ecf0f1;
$font-family: Inter, Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$border-radius: 360px;


// brand 
$light-orange: #F7F0E7;
$orange: #F98000;

// gray
$_50: #FFFFFF;
$_100: #F8F8F8;
$_200: #5A5A5A;
$_300: #404040;

// radius 
$xs: 4;
$sm: 8;
$md: 12;
$lg: 16;
$xl: 24;
$_2xl: 360;